<app-navbar></app-navbar>

<html lang="en"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registrar Evento</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="add-habitacion.component.html">
</head>
<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="./assets/habitacion.jpg" width="470" height="340" alt="login" class="login-card-img">
<!--             https://images.unsplash.com/photo-1611432579402-7037e3e2c1e4?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NDN8NDgyNzg1OXx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60
 -->
  <p class="text-white font-weight-medium text-center flex-grow align-self-end footer-link text-small">
               <a href="" target="_blank" class="text-white">Tu Gestor de Hoteles</a> from SkyHotels
            </p>
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
              </div>
              <p class="login-card-description">Agregar Habitacion</p>
              <form action="#!">
                  <div class="form-group">
                    <label for="inputNombre" class="form-label">Nombre Habitacion</label>
                    <input type="text" class="form-control" id="inputNombre" name="nombre" #nombre="ngModel" [(ngModel)]="habitacionModel.nombreHabitacion">
                  </div>

                  <div class="form-group mb-4">
                    <label for="inputCapacidad" class="form-label">Precio</label>
                    <input type="text" class="form-control" id="inputCapacidad" name="capacidad" #capacidad="ngModel" [(ngModel)]="habitacionModel.precio">

                  </div>


                  <input name="login" id="login" class="btn btn-block login-btn mb-4" (click)="registrarHabitacion()" type="button" value="Registrar Habitacion">
                </form>


            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</body></html>
